<!DOCTYPE html>
<html>
<head>
	<title>Computed Result</title>
</head>
<body>
	<h1>Computed Result</h1>
	<p><%= message %></p>
	<p>The required postage is: $<%= result %> on "<%= type %>" mail weighing <%= weight %> lbs.</p>
</body>
</html>